<%- include("partials/header.ejs") %>

<form action="/coin-rate" method="post">
  <label for="coinslist"></label>
  <select name="coinid" id="coinid" required>
    <option value="">Select a coin</option>
    <% for (let i = 0; i < 100; i++) { %>
    <option value="<%= coins[i].id %>"><%= i+1 %>. <%= coins[i].name %></option>
    <% } %>
  </select>
  <br />
  <button type="submit">Get Rate</button>
</form>

<h2>Quick Links</h2>
<form id="quick-links-form" action="/coin-rate" method="post">
  <% for (let i = 0; i < 4; i++) { %>
  <button name="coinid" value="<%= coins[i].id %>" type="submit">
    <img
      src="https://static.coinpaprika.com/coin/<%= coins[i].id %>/logo.png"
      alt="<%= coins[i].id %>-image"
    /><%= coins[i].name %>
  </button>
  <% } %>
</form>

<%- include("partials/footer.ejs") %>
