<%- include("partials/header.ejs") %>

<div class="content">
  <h1>Real-Time Cryptocurrency Prices</h1>
  <p class="subtitle is-6">Get rate of your favorite crypto coin in USD</p>

<form class="box" action="/coin-rate" method="post">
  <label class="label" for="coinslist">Select any coin from the list of top 1000 coins</label>
  <div class="field">
    <div class="select">
      <select name="coinid" id="coinid" required>
        <% for (let i=0; i < 1000; i++) { %>
        <option value="<%= coins[i].id %>">
          <%= coins[i].name %>
        </option>
        <% } %>
      </select>
    </div>
  </div>
  <br />
  <div class="field"><button class="button is-info" type="submit">Get Rate</button></div>
</form>

<h3>Quick Links</h3>

<form id="quick-links-form" action="/coin-rate" method="post">
  <div class="buttons is-grouped">
  <% for (let i=0; i < 20; i++) { %>
    <button class="button is-info" name="coinid" value="<%= coins[i].id %>" type="submit">
      <span class="icon">
        <img class="image" src="https://static.coinpaprika.com/coin/<%= coins[i].id %>/logo.png" alt="<%= coins[i].id %>-image" /> 
      </span>
      <span>
      <%= coins[i].name %>
      </span>
    </button>
    <% } %>
  </div>
</form>


</div>

<%- include("partials/footer.ejs") %>